<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ImageFolderPath" value=""/>
		<add key="ServerName" value="MATIAS-PC\SQLEXPRESS"/>
		<add key="DatabaseName" value="CATALOGO_DB"/>
	</appSettings>
</configuration>